.main {
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.goods {
    padding: .5rem;
    margin-right: 5rem;
    width: 200px;
}

.good {
    text-align: center;
	 border: 4px double black; /* Параметры границы */
	     width: 100px;
    height: 50px;
}

.good:not(:last-of-type) {
    margin-bottom: .5rem;
}

.good__count {
    position: absolute;
    right: .5rem;
    top: 0;
}

.good__title {
    margin: 0 0 .5rem;
}

.basket__info {
    left: calc((100% - 264px) / 2);
    text-align: center;
    top: calc((100% - 24px) / 2);
}

.basket__goods-container .good {
    margin: 0;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
	}
.basket__goods-container{
	padding-left: 10px;
}
    

.basket {
	width: 140px;
    height: 280px;
    position: relative;
	background-color:#e5eefc
}

.basket__progress {
    border-radius: 0;
    position: absolute;
    right: calc(-30px - .5rem);
    top: -1px;
}

.progress-vertical {
    align-items: flex-end;
    height: 453px;
    width: 30px;
}

.progress-vertical .progress-bar {
    height: 0;
    width: 100%;
}

.progress-bar {
    transition: all 0.3s linear;
}

/* Misc */
.center-text {
    text-align: center;
}

.center-block {
    margin: 0 auto;
}
